
<!DOCTYPE html>
<html>
<head>
  <title>My Blog Post</title>
</head>
<body>
  <h1>Welcome to My Blog Post</h1>
  
  <div>
    <!-- Your blog post content goes here -->
  </div>
  
  <footer>
    &copy; 2022 My Blog
  </footer>
</body>
</html>